/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-apr-2015, 15.51.08
    Author     : Matteo
*/

body{
    margin:0;
    padding: 0;
    background-attachment: fixed;
    font-family: verdana;
}

.homebar{
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height: 10%;
      background-color: #66ff66;
}

.logo{
    position:relative;
    left:0;
}
      
div.logo h3{
    color: #ffffd1;
}
                
.login {
        position:absolute;
        left: 68%;
        top:0;
}
        
 .image{
          position: absolute;
          height: 100%;
          width: 76%;
          left:0;
          background-image: url(social.jpg);
          background-position:center;         
}

.registrazione{
    position:fixed;
    margin-left: 75%;
    margin-top:4%;
    background-color: #ffffd1;
    padding:0.5%;
    height: 100%;
    width: 25%;
}
  
.pregistrazione{
    font-size: large;
    font-style: inherit;
 }
             
.btn {
  background: #66ff66;
  border-radius: 8px;
  color: #ffffff;
  font-size: 15px;
  padding: 3px 10px 3px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #1ac211;
}


.btn1 {
  position:absolute;
  left:15%;
  bottom:25%;
  background: #66ff66;
  border-radius: 8px;
  color: #ffffff;
  font-size: 15px;
  padding: 20px 40px 20px 40px;
  text-decoration: none;
  font-size: 30px;
  font-family: verdana;
}

.btn1:hover {
  background: #1ac211;
}


.myTitleClass .ui-dialog-titlebar {
    background:#66ff66;
}


